body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:274px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:530px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:264px;
  height:529px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:81px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:0px;
  width:264px;
  height:80px;
  font-size:24px;
  color:#FFFFFF;
  text-align:left;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:260px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:80px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u38_img.mouseOver {
}
#u38.mouseOver {
}
#u38_img.mouseDown {
}
#u38.mouseDown {
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:144px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u39_img.mouseOver {
}
#u39.mouseOver {
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:208px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u40_img.mouseOver {
}
#u40.mouseOver {
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:272px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u41_img.mouseOver {
}
#u41.mouseOver {
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:336px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:400px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u43_img.mouseOver {
}
#u43.mouseOver {
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:65px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:464px;
  width:264px;
  height:64px;
  font-size:16px;
  text-align:left;
}
#u44_img.mouseOver {
}
#u44.mouseOver {
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:260px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:26px;
  width:25px;
  height:24px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
